nav {
  text-align: left;
}

.brand-logo {
  margin-left: 2%;
  overflow-y: hidden;
  height: inherit;
}

.side-nav li a {
  color: aliceblue;
}

.active {
  background-color: #212121;
  color: #2196f3;
}

.nav-link {
  font-weight: bold;
  font-size: 110%;
}

.nav-link:hover {
  background-color: #212121;
}
