<!--<div id="fractal-img"></div>-->

<img src="../../assets/about/minima-fractal-white.png">

<p><a [routerLink]="['/']">MINIMA USLUGE j.d.o.o</a> je mlada prijevoznička tvrtka koja se specijalizirala za <b>selidbe,
  kombi prijevoz i odvoz otpada</b>
  na području grada Zagreba, ali i cijele Hrvatske te Europe. Također se bavimo izradom namještaja po mjeri, montažom i
  demontažom namještaja.</p>

<p>Specifičnost tvrtke MINIMA usluge je u 24-satnoj dostupnosti, radnim danom, vikendima i blagdanima, te adekvatan broj
  djelatnika koji mogu odraditi sve poslove vezane uz transport i druge aktivnosti – utovar, istovar, montaža,
  demontaža, pakiranje itd.</p>

<p>Za svaku našu aktivnost dajemo <b>garanciju</b> da će ona biti kvalitetno odrađena i u dogovorenom roku, te smo se na
  sve to dodatno pokrili i policom osiguranja u slučaju nepredviđenih situacija.</p>

<p>Ukoliko Vam je potrebna procjena cijene usluge, tvrtka MINIMA usluge će <b>besplatno</b> doći na Vašu lokaciju i napraviti
  ponudu.</p>

<p>MINIMA usluge je tvrtka koja Vam omogućuje izračun selidbe ili bilo koje usluge <b>unaprijed</b>.</p>

<p>Ako ste tvrtka, obrt ili pravna osoba, slobodno nam se obratite da definiramo u kojem obliku bismo mogli surađivati.
  S obzirom na visoko postavljene zahtjeve tržišta, u mogućnosti smo ih ispuniti u svim segmentima.</p>

<p>Za sve informacije i rezervaciju termina možete nas kontaktirati <a [routerLink]="['/kontakt']">ovdje</a></p>

<p><b>Dostupni smo svakim danom od 0-24</b></p>

<p><b>MINIMA usluge tu su za Vas</b></p>
