p {
  text-align: justify;
  font-size: 130%;
  margin-right: 10%;
  margin-left: 10%;
}

img {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 60%;
  height: 15em;
}

b {
  color: #212121;
}


@media screen and (max-width: 1000px){
  img {
    width: 90%;
  }

  p {
    margin-left: 5%;
    margin-right: 5%;
  }
}
