<minima-header></minima-header>
<router-outlet></router-outlet>
<a *ngIf="!isMobile()" href="mailto:minimausluge@gmail.com?subject=[Upit za MINIMA usluge]: (Predmet)&body=(Tijelo poruke)\n\n(Vaše ime i prezime)\n(Vaš kontakt broj)\nUmjesto oblih zagrada postavite tražene podatke te obrišite ovu poruku"
   class="email btn-floating btn-large waves-effect">
  <i class="fa fa-envelope" aria-hidden="true"></i>
</a>
<a *ngIf="isMobile()" href="mailto:minimausluge@gmail.com?subject=[Upit za MINIMA usluge]: (Predmet)&body=(Tijelo poruke. Molimo Vas da se potpišete i ostavite kontakt) - Umjesto oblih zagrada postavite tražene podatke te obrišite ovu poruku"
   class="email btn-floating btn-large waves-effect">
  <i class="fa fa-envelope" aria-hidden="true"></i>
</a>
<a href="tel:+38598200186" id="phone" class="btn-floating btn-large waves-effect green">
  <i class="fa fa-phone" aria-hidden="true"></i>
</a>
<minima-footer></minima-footer>

