@media screen and (min-width: 0px) and (max-width: 400px) {
  .phone {
    margin: 2%;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

@media screen and (min-width: 401px) {
  .phone {
    visibility: hidden;
    display: none;
  }
}
